<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omigra Enterprise Recruitment</title>
    <link rel="stylesheet" href="../static/styles/home.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="user-info">
                {% if user.profile_pic %}
                    <img src="{{ url_for('static', filename=user.profile_pic) }}" alt="User Image" class="user-image">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default-profile3.png') }}" alt="User Image" class="user-image">
                {% endif %}
            </div> 
            
            <div class="heading">
                <h1>Omigra Enterprise Recruitment</h1>
            </div>


            <!-- Dropdown Menu -->
            <div class="dropdown-container">
                <button class="dropdown-btn">Menu</button>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/home">Home</a>
                    <a href="/about">About Us</a>
                    <a href="/contact">Contact Us</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section id="jobs">
            {% for job in jobs %}
                <div class="job">
                    <h2>{{ job.title }}</h2>
                    <p>Job Description: {{ job.description }}</p>
                    <div class="jobButtons">
                    <!-- Edit Job Form -->
                    <form action="/edit-job/{{ job.id }}" method="POST">
                        <button type="submit">Edit</button>
                    </form>

                    <!-- Delete Job Form -->
                    <form action="/delete-job/{{ job.id }}" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    <button onclick="applyForJob('{{ job.title }}')">Apply</button>
                    </div>
                </div>
            {% endfor %}
        </section>
        <form action="/add-job" method="POST" class="job-form">
            <input type="text" name="title" placeholder="Job Title" required>
            <textarea name="description" placeholder="Job Description" required></textarea>
            <button type="submit">Add Job</button>
        </form> 
    </main>
    <footer>
        <p>Contact us: +97450075368 or 0741715502 | Email: absalomominde1@gmail.com</p>
    </footer>
    <script src="../static/scripts/home.js"></script>
</body>
</html>
