<!DOCTYPE html>
<html>
<head></head>
<body>
    <div>
        <h2>HTML</h2>
        <p>
            I recently completed a rigorous software engineering program at ALX, where I honed my skills in Python, Flask, and MySQL, developing several full-stack applications, including an inventory management system and a web-based job application platform. My hands-on experience, coupled with a passion for building efficient and scalable applications, makes me a strong candidate for this role.
        </p>
    </div>
    <style>
        div{
            padding: 10px;
            border-radius: 20px;
            background: #35ACB4;
            transition: 1s;
            clip-path: circle(10% at 90% 20%);
        }
        div:hover{
            clip-path: circle(75%);
        }
    </style>
</body>
</html>