body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

#jobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.job {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 15px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job h2 {
    margin-top: 0;
}

.job button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.job button:hover {
    background-color: #0056b3;
}

#about, #contact {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: bottom;
    width: 100%;
    bottom: 0;
}



.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-info {
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    justify-content: flex-start;
    background-color: #ddd;
    margin-left: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    display: block;
}

.heading {
    width: 80%;  /* 80% width for heading */
    text-align: center;
    background-color: #0056b3;
    margin-right: 90px;
}

.logout {
    width: 5%;  /* 10% width for logout */
    display: flex;
    justify-content: flex-end;
}
